.page-footer {
    background-color: var(--black-rock);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: block;
    align-items: baseline;

    @media screen and (min-width: 480px) {
        text-align: center;
    }
    
    @media screen and (min-width: 768px) {
        
    }
    
    @media screen and (min-width: 1200px) {
        
    }
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav__logo {
    font-family: Raleway;
    font-size: 26px;
    color: var(--white);
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (min-width: 480px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}

.footer-nav__text-white {
    color: var(--blue);
}

.footer-address {
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-address__item {
    height: 21px;
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__address,
.footer-address__email,
.footer-address__tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--white);
    text-decoration: none;
}

.footer-address__email,
.footer-address__tel {
    color: var(--black-footer);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__tel:hover,
.footer-address__tel:focus,
.footer-address__email:hover,
.footer-address__email:focus {
    color: var(--blue);
}

.footer-social {
    margin: 0 93px;

    @media screen and (min-width: 480px) {
        margin: 60px auto;
    }
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {}
}

.superscript {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.footer-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-social__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--blue);
    outline: transparent;
}

.footer-social__link:hover .footer-social__icon,
.footer-social__link:focus .footer-social__icon {
    fill: var(--white);
}

.form-subscribe {
    display: flex;

    @media screen and (min-width: 480px) {
        display: block;
    }
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {}
}

.form-subscribe__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: transparent;
    cursor: pointer;

    background-color: var(--black-rock);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__input:hover,
.form-subscribe__input:focus {
    border-color: var(--blue);
}

.form-subscribe__icon {
    fill: var(--white);
    margin-left: 10px;
}