.portfolio {
  background-color: var(--white);
}

.portfolio__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
  margin-top: 0;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__list--btn {
  font-style: inherit;
  color: var(--nero);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list--btn:hover,
.portfolio__list--btn:focus {
  color: var(--white);
  border: var(--blue);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects {
  line-height: 0;
}

.card-set__item {
  flex-basis: calc((100% - 30px * 2) / 3);
  position: relative;
}

.card-set__link:hover,
.card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.card-set__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__pic {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: var(--blue);

  padding: 63px 24px;
}

.card-set__link:hover .overlay,
.card-set__link:focus .overlay {
  transform: translateY(0);
}

.card-set__figcaption {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-set__tittle {
  color: var(--nero);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
  margin-top: 0;
}

.card-set__text {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}
