.presentation.section {
  display: none;
  @include desktop {
    display: block;
    padding-top: 0;
  }
}

.software {
  @include desktop {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
  }
}

.software__item {
  @include desktop {
    flex-basis: calc((100% - 30px * 2) / 3);
  }
}

.relative {
  @include desktop {
    position: relative;
  }
}
