.team {
    background-color: #f5f4fa;
    padding-bottom: 94px;
}

.team-list {
    flex-basis: calc((100% - 30px * 3) / 4);
}

.team-area {
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-area-footer {
    padding-top: 30px;
    padding-bottom: 16px;
}

.team-dots {
    list-style: none;
}

.team-name {
    color: var(--nero);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 10px;
}

.team-job {
    color: var(--grey);
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.list-link {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    border-radius: 0px 0px 4px 4px;
    gap: 10px;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--blue);
    outline: transparent;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--white);
}

.social-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}