.button {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include desktop {
    padding: 10px 32px;
  }

  color: var(--white);
  background-color: var(--blue);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.modal-window__btn {
  padding: 10px 52px;
  margin: auto;
}

.form-subscribe__btn {
  display: flex;
  padding: 10px 28px;
  margin-left: 12px;

  @include table {
    justify-content: center;
    align-items: center;
  }
}
