.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    color: var(--black);
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-right: 91px;

    @media screen and (min-width: 480px) {
        font-size: 24px;
        line-height: 1.17;
    }
        
    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.17;
    }
        
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__white {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    color: var(--white);
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__text {
    color: var(--blue);
}