.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
            max-width: 767px;
        }
    
        @media screen and (min-width: 768px) {
            max-width: 1199px;
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1600px;
        }
}


// .container.adaptive {
//     max-width: 400px;
// }

// @media screen and (min-width: 600px) {
//     .container {
//         background-color: #00bcd4;
//     }

//     /* Change the current width of the adaptive container at each breakpoint. */
//     .container.adaptive {
//         max-width: 600px;
//     }
// }