:root {
    --white: #ffffff;
    --whitesmoke: #f5f5f5;
    --black: #000000;
    --black-footer: rgba(255, 255, 255, 0.6);
    --blue: #2196f3;
    --grey: #757575;
    --nero: #212121;
    --black-rock: #2f303a;
}


// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;